body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0d0d0d;
  color: white;
}

.dashboard {
  display: flex;
  height: 100vh;
}

/* SIDEBAR */
.sidebar {
  width: 220px;
  background: #111;
  padding: 20px;
  border-right: 1px solid #222;
}

.sidebar h2 {
  color: gold;
}

.sidebar button {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  background: #222;
  color: white;
  border: none;
  cursor: pointer;
}

.sidebar button:hover {
  background: gold;
  color: black;
}

/* MAIN */
.main {
  flex: 1;
  padding: 20px;
}

.section {
  display: block;
}

.hidden {
  display: none;
}

/* INPUTS */
input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  background: #1a1a1a;
  border: 1px solid #333;
  color: white;
}

/* BUTTON */
button {
  padding: 10px 15px;
  background: gold;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

/* PRODUCT CARD */
.product {
  background: #1a1a1a;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #333;
}

.product button {
  margin-right: 10px;
}
